{%extends "base.html"%}
{%block container%}
{% block title %}
{% endblock %}
<h1>Registro</h1>
{% block contenido %}<br><br><br><br><br>

	<center><form action="" method="POST">
	
		<table>

		<b> {{formulario.as_p}}</b><br>
		<b>Nick :</b>	<input type="text" name="nick" value="nick"><br><br>
		<b>Email :</b>	<input type="text" name="email" value="email"><br><br>
		<tr><td><b><input type="submit" name="bregistro" value="Enviar"></b></td></tr><br>
		{% csrf_token %}
		</table>
		</center>	
	</form>

{% endblock %}
{%endblock%}


